*{
    box-sizing: border-box;
}
body{
    background: url('../img/parallax.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul{
    display: flex;
   justify-content: center;
   list-style: none;
}
nav ul li {
    float: left;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0 2em;
}
a{
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
}
h2{
    color: lightblue;
    text-align: center;
}
.main-section {
    display: flex;
    justify-content: space-between;
}
.article{
    width: 47%;
    margin-bottom: 20px;
}
h5{
    text-align: center;
    font-size: 15px;
    color: white;
    list-style: none;
    bottom: 0;                                                       
}
h5 a{
    text-align: center;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
}
footer {
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer {
    font-size: 20px;
    color: white;
    padding: 14px 16px;
    text-align: center;
    position: relative;
}
footer p {
    text-align: center;
}
/*Responsiveness*/
@media only screen and (min-width: 150px) and (max-width: 600px)
{
.main-section{
    flex-direction: column;
}
.article{
    width: 100%;
}
img{
    width: 100%;
}
nav ul{
    flex-direction: row;
    flex-wrap: wrap;
}
p
{
    text-align: center;
    background: lightblue;
}
}